.footer-container {
    border: 1px solid #fff; /* Bordure blanche de 1 pixel */
    border-radius: 8px; 
    margin-bottom: 0px;
    padding: 10px 0;
  }
  
  .social-icons {
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    font-size: 15px;
    margin: 0 10px;
    color: #999; /* Couleur des icônes */
  }
  
  .footer-text {
    color: #999; /* Couleur du texte */
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
  }

  .logo {
    width: 150px; /* Ajustez la taille selon vos besoins */
    height: auto; /* Assurez-vous que la hauteur s'ajuste automatiquement pour maintenir les proportions */
  }
  
.custom-footer{
    background-color: #000; 
}

.footer-columns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.footer-column {
  color: #999; /* Couleur du texte */
}

.footer-column h3 {
  font-size: 0.7rem;
  margin-bottom: 10px;
  color: #951a87;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 5px;
  font-size: 0.5rem; /* Taille de la police plus petite */
}

@media (max-width: 768px) {
  .footer-columns {
      flex-direction: column; /* Empile les colonnes verticalement */
      align-items: center;
  }

  .footer-column {
      margin-bottom: 20px;
      text-align: center;
  }
}

.flag-icons {
  list-style-type: none; /* Supprime les puces de la liste */
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  flex-wrap: wrap; 
}

.flag-icon {
  font-size: 1rem; /* Taille des icônes de drapeaux */
  margin: 0 8px; /* Espacement entre les icônes */
  color: #999;
}

.footer-message {
  font-size: 0.7rem;
  margin-bottom: 10px;
  color: #999;
}

.footer-bottom {
  margin-top: 20px; /* Espacement par rapport au message */
  color: #312f2f; /* Couleur du texte */
  font-size: 10px; /* Taille du texte */
}

.footer-bottom a {
  color: #312f2f; /* Couleur des liens */
  text-decoration: none; /* Supprimer le soulignement des liens */
}

.footer-bottom a:hover {
  text-decoration: underline; /* Souligner les liens au survol */
}
