/* Fond de la navbar avec dégradé */
.custom-navbar {
  background-color: #0E1217; 
  border: 1px solid #fff; /* Bordure blanche de 1 pixel */
  border-radius: 8px; 
  margin-bottom: 20px;
  padding: 10px 0; /* Ajoute un peu de padding pour l'espace autour des éléments */
}

/* Taille et espacement du logo */
.logo {
  width: 160px; /* Ajustez la taille du logo selon vos besoins */
  height: auto; /* Garantit que la hauteur s'ajuste proportionnellement */
}

.logo-small-screen {
  width: 160px; /* Réduire la taille du logo pour les petits écrans si nécessaire */
}

/* Style des boutons dans la navbar */
.navbar-button {
  color: #ffffff;
  border: none;
  margin-left: 10px; /* Espacement entre les boutons */
}

/* Style des icônes dans les boutons */
.navbar-icon {
  width: 20px; /* Taille des icônes */
  height: auto;
}

/* Ajustement des marges pour les éléments de la navbar */
.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 8px; 
  max-width: 600px; /* Largeur maximale de la barre de recherche */
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #2a2a2a; /* Couleur de fond subtile */
  border-radius: 12px;
  padding: 0 1rem;
  border: 1px solid transparent;
  cursor: text;
}

.search-icon {
  width: 24px;
  height: 24px;
  color: #aaa; /* Couleur de l'icône */
  margin-right: 0.75rem;
}

.search-input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #aaa; /* Couleur du texte */
  padding: 0.75rem 0;
}

.search-input::placeholder {
  color: #fff; /* Couleur du placeholder */
}

.search-input:hover,
.search-input:focus {
  color: #fff;  /* Couleur du texte au survol et au focus */
  background-color: transparent; 
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap; /* Garde les éléments sur une seule ligne */
}

.button-group {
  display: flex;
  align-items: center;
}

.search-container.focused {
  border: 1px solid #fff; /* Bordure blanche lors du focus */
}

@media (max-width: 768px) {
  .navbar-content {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    width: 100%;
    margin: 10px 0; /* Espacement autour de la barre de recherche */
  }

  .button-group {
    justify-content: center;
    width: 100%;
  }
}



