.navbar {
  border: 1px solid #fff; /* Bordure blanche */
  border-radius: 8px; /* Coins arrondis */
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff; /* Couleur du texte */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ccc; /* Couleur du texte au survol */
}

.navbar-toggler {
  color: #fff; /* Couleur de l'icône de bascule */
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-50%);
  z-index: 10; /* Assurez-vous que le toggler est au-dessus des autres éléments */
}

.toggle-icon {
  font-size: 0.5rem; /* Taille de l'icône ajustée */
}

.navbar-toggler:hover {
  color: #ccc; /* Couleur de l'icône de bascule au survol */
}

.navbar__icon {
  width: 15px;
  height: auto;
  margin-right: 120px; /* Espacement entre l'icône et le texte */
}

.navbar__text {
  margin-right: 20px; /* Espacement entre le texte et le bord droit */
  font-size: 0.70rem;
}

/* VerticalNavBar.css */

.navbar-toggler {
  border: none;
  background: none;
}

.navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  color: white; /* Modifier la couleur du texte */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ccc; /* Couleur du texte au survol */
}

.navbar__icon {
  margin-right: 10px;
}


.custom-navbar {
  background-color: #000; /* Fond noir */
  border: 1px solid white; /* Bordure blanche */
  padding: 10px;
  width: 100%;
}




  
